{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us?</title>
</head>

<body>
    {% block content %}
    
    <div class="m-5">
        <h1>CIPAS members:</h1>   
    </div>

    <div class="m-5 accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Daniel Stiven León Diaz
            </button>
          </h2>
          
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <br>
            <div class="accordion-body">
              <iframe class = "col-12" src="https://onedrive.live.com/embed?resid=1917161F83C7F62F%212118&amp;authkey=!ACgcqLR0lW_BFbc&amp;em=2&amp;wdAr=1.7777777777777777&amp;wdEaaCheck=1" width="1280px" height="720px" frameborder="0">Esto es un documento de <a target="_blank" href="https://office.com">Microsoft Office</a> incrustado con tecnología de <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Josefth Santiago Rocha Villarraga
            </button>
          </h2>

          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <iframe class = "col-12" src="https://onedrive.live.com/embed?resid=1917161F83C7F62F%212118&amp;authkey=!ACgcqLR0lW_BFbc&amp;em=2&amp;wdAr=1.7777777777777777&amp;wdEaaCheck=1" width="1280px" height="720px" frameborder="0">Esto es un documento de <a target="_blank" href="https://office.com">Microsoft Office</a> incrustado con tecnología de <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Yeimy Vanessa Cobos Zabala
            </button>
          </h2>

          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <iframe class = "col-12" src="https://onedrive.live.com/embed?resid=1917161F83C7F62F%212118&amp;authkey=!ACgcqLR0lW_BFbc&amp;em=2&amp;wdAr=1.7777777777777777&amp;wdEaaCheck=1" width="1280px" height="720px" frameborder="0">Esto es un documento de <a target="_blank" href="https://office.com">Microsoft Office</a> incrustado con tecnología de <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
            </div>
          </div>
        </div>

      </div>

    {% endblock content %}
</body>
</html>